* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

html {
    overflow: hidden;
    height: 100%;
}
  
body {
    height: 100%;
    overflow: auto;
    font-family: "Helvetica Neue", sans-serif;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 900px;
}
  
.calculator {
    background: black;
    border-radius: 50px;
    color: white;
    height: 700px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 10rem;
    position: relative;
}
  
.display {
    height: 90px;
    font-size: 5rem;
    font-weight: 300;
    margin-bottom: 10px;
    margin-right: 20px;
    text-align: right;
}

.landscape-buttons-container {
    display: none;
}
  
.main-buttons-container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
  
.button {
    align-items: center;
    background: #868686;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    font-size: 2rem;
    height: 5rem;
    width: 5rem;
    justify-content: center;
    transition: all .3s; 
}
  
.button.function {
    background: rgb(253, 141, 28);
}
  
.button.operator {
    background: #333;
}
  
.button.addition {
    border-radius: 55px;
    grid-row: 4 / span 2;
    grid-column: 4;
    justify-content: flex-center;
    height: 11.5rem;
}
  
.button:active,
.button:focus {
    filter: brightness(120%);
}

.operator {
    transition: all .5s;
}

@keyframes fadeIt {
    0%   { background-color: #333; color: #fff; }
    50%  { background-color: #fff; color: #333;}
    100% { background-color: #333; color: #fff;}
}

  .operator.equals:focus{    
    animation: fadeIt .7s ease-in-out; 
    background-color: #333; 
    color: #fff;
}

.operator:focus {
    background-color: white;
    color: black;
}

.bctecnica {
    width: 100%;
    font-size: 1.2rem;
    color: white;
    text-align: center;
    margin-top: 1rem;
}

@media only screen and (min-width: 600px) {

      body {
        width: 100%; 
        height: 100%;  
    }

    .calculator-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .calculator {
        padding-right: 3rem;
        margin-top: 0rem;
        max-width: 1000px;
        height: 350px;
    }

    .display {
        height: 55px;
        font-size: 2.8rem;
        margin-bottom: 0;
        margin-top: 1rem;
        margin-right: .6rem;
    }

    .landscape-buttons-container {
        display: grid;
        grid-gap: 0.5rem;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
        margin-right: -1rem;
    }

    .main-buttons-container {
        grid-gap: 0.5rem;
    }

    .button {
        font-size: 1rem;
        height: 2.5rem;
        width: 3.2rem;
        border-radius: 100px;
    }

    .wide {
        margin-left: 2rem;
        grid-column: span 2;
        width: 8rem;
        border-radius: 55px;
    }

    .button.addition {
        border-radius: 55px;
        grid-row: 4 / span 2;
        grid-column: 4;
        justify-content: flex-center;
        height: 6rem;
    }

    .bctecnica {
        font-size: 1rem;
        margin-top: .5rem;
        padding-left: 3rem;
    }

}
  
  